<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wusp.indicatorbox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="DynamicMarkActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="BounceFreeBarActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ShrinkButtonActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ViewPagerIndicatorActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ParticleActivity"
            android:label="@string/title_activity_particle"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="FlashBorderActivity"
            android:label="@string/title_activity_flash_border"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="FlashBorderAndRippleCircleActivity"
            android:label="@string/title_activity_flash_border_ripple_circle"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
